@(user: models.User, activityList: List[models.ActivityRow])

@page {
    <div id="feed">
        <div class="row" style="margin-top: 60px;">
            <div class="span8 clearfix hello">
                <img src="http://graph.facebook.com/@user.facebookUserName/picture" alt="Profile picture" class="pull-left" />
                <div class="pull-left">
                    <h4>Hello @user.firstName!</h4>
                    <p>Here is what your friends are doing.</p>
                </div>
            </div>
        </div>
        <ul class="row">
            @if(activityList.isEmpty) {
            <div class="span8 no-activity">
                <h4>No activity yet. You should add more friends!</h4>
            </div>
            } else {
                @activityList.foreach { activity =>
                    <li class="span8 clearfix">
                        <img src="http://graph.facebook.com/@activity.friendFacebookUserName/picture" alt="Profile picture" class="pull-left" />
                        <div class="pull-left">
                            <p>@activity.friendFirstName @activity.activityType @activity.locusName</p>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
} {

}
