@(locus: models.Locus, userActivity: (Option[Boolean], Option[Boolean]), locusActivityList: List[models.LocusActivityRow])(implicit request: play.api.mvc.RequestHeader)

@page {
    
    <div class="row" id="locus">
        <div class="span8 clearfix locus">
            <img src="@locus.icon" alt="Category icon" class="pull-left" />
            <div class="pull-left">
                <h4>@locus.name</h4>
                <p>@locus.category</p>
                <p>@locus.address.map(_+", ").getOrElse("")@locus.postalCode.map(_+", ").getOrElse("")@locus.city.getOrElse("")</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h4>Your activity</h4>
        </div>
        <div class="span8 locus-actions">
            <p>
                <button class="btn @if(userActivity._1.getOrElse(false)) {
                    btn-success    
                }" type="button" data-action="like">I like this place</button>
                <button class="btn @if(!userActivity._1.getOrElse(true)) {
                    btn-danger    
                }" type="button" data-action="dislike">I don't like this place</button>
            </p>
            <p>
                <button class="btn @if(userActivity._2.getOrElse(false)) {
                    btn-success    
                }" type="button" data-action="want">I want to go to this place</button>
                <button class="btn @if(!userActivity._2.getOrElse(true)) {
                    btn-danger    
                }" type="button" data-action="dontwant">I don't want to go to this place</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h4>Friends activity</h4>
        </div>
        @if(locusActivityList.isEmpty) {
        <div class="span8 no-activity">
            <p>None of your friends has interacted with this place yet.</p>
        </div>
        } else {
            @locusActivityList.map { locusActivity =>
                <div class="span8 clearfix">
                    <p>@locusActivity.friendFirstName @locusActivity.activityType this place.</p>
                </div>
            }
        }
    </div>    
} {
    <script type="text/javascript">
        @Html(play.api.Routes.javascriptRouter("jsRoutes")(controllers.routes.javascript.Application.likeLocus,
                                                           controllers.routes.javascript.Application.dislikeLocus,
                                                           controllers.routes.javascript.Application.wantLocus,
                                                           controllers.routes.javascript.Application.dontwantLocus))
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript">
        var foursquareId = "@locus.foursquareId";
        
        $(function() {
            var $likeButton = $("button[data-action=like]"),
                $dislikeButton = $("button[data-action=dislike]"),
                $wantButton = $("button[data-action=want]"),
                $dontwantButton = $("button[data-action=dontwant]");

            $("button[data-action=like]").click(function() {
                jsRoutes.controllers.Application.likeLocus(foursquareId).ajax({
                    success: function() {
                        $likeButton.addClass("btn-success");
                        $dislikeButton.removeClass("btn-danger");
                    }
                });
            });

            $("button[data-action=dislike]").click(function() {
                jsRoutes.controllers.Application.dislikeLocus(foursquareId).ajax({
                    success: function() {
                        $likeButton.removeClass("btn-success");
                        $dislikeButton.addClass("btn-danger");
                    }
                });
            });

        });
    </script>

}
